
body {
    background-color:#FEFEFE;
    font-family: "Calibri Light", sans-serif;
}
/*
.container{
    background-color:white;
}
*/

.my-row {
    margin: 20px;
}

.my-row-high{
    margin-top: 40px;
}

.my-row-low{
    margin-bottom: 20px;
}

.my-col {
    margin-right: 20px;
    margin-left: 20px;
}